<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="{:U('addr_insert')}" method="post">
		<p>
			收货人姓名：
			<input type="text" name="sname" id="">
		</p>
		<p>
			收货人电话：
			<input type="text" name="sphone" id="">
		</p>
		<p>
			收货人邮箱：
			<input type="text" name="email" id="">
		</p>
		<p>
			city	
			<input type="text" name="city" id="">
		</p>
		<p>
			info	
			<input type="text" name="info" id="">
		</p>
		<p>
			<input type="submit" value="提交">
		</p>
	</form>
</body>
</html>